.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;

    display: grid;
    grid-gap: 6rem;


}

.nav {
    list-style: none;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    align-items: center;

    grid-gap: 2rem;

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: #fff;
            font-size: 1.4rem;
            font-family: $font-display;
            text-transform: uppercase;
            text-align: center;
            
            display: block;

            padding: 1.5rem 2rem;

            height: 6.5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all .2s;

        }

        &:hover,
        &:active {
            background-color: rgba(#fff, .05);
            transform: translateY(-1rem);          
        }
    }
}

.copyright {
    color: $color-grey-light-2;
    justify-self: center;
    text-align: center;
}